@use '../util' as *;

.cards {
    text-align: center;
    background: var(--card);
    padding: rem(25);
    border-radius: rem(25);
    width: rem(325);
    height: rem(500);
}
 img {
     border-radius: rem(25);
     width: rem(287);
 }

.header{
    font-weight: 700;
    color: var(--darkText);
}

.subText {
    font-family: 400;
    color: var(--lightText);
}